@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

:root {
	--display-furigana: none;
}

rt {
	display: var(--display-furigana);
}

.App {
	font-family: "Kiwi Maru", serif;
}

*[c="1"] {
	color: #ed64a6;
}

*[c="2"] {
	color: #9f7aea;
}
*[c="3"] {
	color: #4299e1;
}
*[c="4"] {
	color: #48bb78;
}
*[c="5"] {
	color: #ed8936;
}
*[c="6"] {
	color: #ecc94b;
}
*[c="7"] {
	color: #373ae6;
}
*[c="8"] {
	color: #f56565;
}
